


@font-face {
  font-family: 'OdudoSoft';
  src: url('assets/font/OdudoSoft-Regular.otf') format('truetype');
}

.btn{
	position:relative;
	border-radius: 100px;
	background-image: linear-gradient(-90deg, #fee06b, #fcbe33);
	width:20%;
	height:13%;
	border:none;
	opacity: 1;
	margin-top:10%;
}

.btn:disabled{
  opacity: 0.6;
}